.page {
  min-height: 100vh;
  width: 100vw;
  background-color: #ffd6e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 90%;
  max-width: 480px;
  padding: 46px 24px;
  border-radius: 22px;
  text-align: center;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.title {
  color: #ff4d88;
  font-family: cursive;
  margin-bottom: 10px;
}

.subtitle {
  color: black;
  font-size: 14px;
  margin-bottom: 32px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.yesBtn {
  padding: 12px 28px;
  font-size: 17px;
  border-radius: 14px;
  border: none;
  background-color: #ff4d88;
  color: white;
  cursor: pointer;
}

.noBtn {
  padding: 12px 28px;
  font-size: 17px;
  border-radius: 14px;
  border: none;
  background-color: #999;
  color: white;
  cursor: pointer;
  transition: transform 0.2s;
}
